<!DOCTYPE html>
<html>
  <head>
    <title>Beetle Fight, LLC - goodbye</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <script type="text/javascript" src="http://fast.fonts.com/jsapi/9cc96530-fbd9-483c-8544-39d395f21a62.js"></script>
  </head>
  <body>
    <div id='outer'>
      <p>Goodbye.</p>
    </div> <!-- outer -->
  </body>
</html>