<!DOCTYPE html>
<html>
  <head>
    <title>Beetle Fight, LLC - Public transit apps in the Twin Cities for iOS</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta content='Beetle Fight, LLC' name='description' />
    <meta content='public transit, ios, train brain, bus brain, beetlefight, beetle fight, light rail, northstar commuter rail, train app, bus app' name='keywords' />
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id='outer'>
      <div id='gray-top-area'>
        <h1 class="main">Beetle Fight</h1>
        <div class="profiles">
          <ul>
            <li>
              <div class="profile">
                <img src='/images/andy.png'/>
                <h4>Andy Atkinson</h4>
                <h5>iOS</h5>
              </div>
            </li>
            <li>
              <div class="profile">
                <img src='/images/john.png'/>
                <h4>John Doll</h4>
                <h5>iOS</h5>
              </div>
            </li>
            <li>
              <div class="profile">
                <img src='/images/nate.png'/>
                <h4>Nate Kadlac</h4>
                <h5>UI/UX DESIGN</h5>
              </div>
            </li>
          </ul>
        </div>
        <div class="tagline"><p>What are we working on?</p></div>
      </div> <!-- gray-top-area -->
      <div id="lower-area">
        <div class="ios-apps-list">
          <ul>
            <li>
              <div class="ios-app">
                <a href="https://itunes.apple.com/app/train-brain/id328945770?mt=8">
                  <img src="/images/icon-train-brain.png" class="icon-train-brain"/>
                  <h4>Train Brain</h4>
                  <img src="/images/available-app-store.png" class="download-app-store"/>
                </a>
              </div>
            </li>
            <li>
              <div class="ios-app">
                <a href="https://itunes.apple.com/us/app/bus-brain/id560807582?mt=8">
                  <img src="/images/icon-bus-brain.png" class="icon-bus-brain"/>
                  <h4>Bus Brain</h4>
                  <img src="/images/available-app-store.png" class="download-app-store"/>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="copyright-footer"><p>&copy; 2012 Beetle Fight, LLC. All rights reserved.</p></div>
      </div> <!-- lower-area -->
    </div> <!-- outer -->
    
    <script type="text/javascript" src="http://fast.fonts.com/jsapi/9cc96530-fbd9-483c-8544-39d395f21a62.js"></script>
  </body>
</html>